<div class="question-container" ng-repeat="question in poll">
  <div class="question" ng-if="currentQuestionIndex == $index">
    <h1>{{question.question}}</h1>

    <br/>

    <div ng-if="question.type=='text'">
      <input type="text" ng-model="question.answer">
      <br/><br/><br/><br/>
      <button class="btn answer-next" ng-click="nextQuestion()">Next</button>
    </div>

    <div ng-if="question.type=='number'">
      <input type="number" ng-model="question.answer">
      <br/><br/><br/><br/>
      <button class="btn answer-next" ng-click="nextQuestion()">Next</button>
    </div>

    <div ng-if="question.type=='paragraph'">
      <textarea ng-model="question.answer"></textarea>
      <br/><br/><br/><br/>
      <button class="btn answer-next" ng-click="nextQuestion()">Next</button>
    </div>

    <div ng-if="question.type=='choice'">
      <div ng-repeat="choice in question.choices">
        <button class="btn btn-default answer-choice" ng-click="question.answer=choice;nextQuestion();">{{choice}}</button>
      </div>
    </div>

  </div>
</div>





<!-- <div class="footer">
  <button class="btn btn-default answer-choice" ng-click="backQuestion()">Back</button> <button class="btn btn-default answer-choice" ng-click="nextQuestion()">Next</button>
  <br/><br/>
  <button class="btn btn-default answer-choice" ng-click="submit()">Submit</button>
</div> -->
